In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("D:\ipl-dashboard\data\deliveries.csv")
df_copy = pd.read_csv("D:\ipl-dashboard\data\deliveries.csv")

In [7]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [8]:
df['fielder'].value_counts()

fielder
MS Dhoni            220
KD Karthik          199
AB de Villiers      141
RV Uthappa          133
WP Saha             131
                   ...
TS Mills              1
Ankit Soni            1
WPUJC Vaas            1
B Laughlin            1
T Kohler-Cadmore      1
Name: count, Length: 607, dtype: int64

## Dirty Data

### batting_team
- Royal Challengers Bangalore & Royal Challengers Bengaluru
- Rising Pune Supergiant & Rising Pune Supergiants
### same with bowling_team

In [9]:
tdf = df[df['batting_team'] == 'Royal Challengers Bengaluru']

In [10]:
df.loc[tdf.index, 'batting_team'] = 'Royal Challengers Bangalore'

In [11]:
tdf = df[df['batting_team'] == 'Rising Pune Supergiant']

In [12]:
df.loc[tdf.index, 'batting_team'] = 'Rising Pune Supergiants'

In [13]:
df['batting_team'].value_counts()

batting_team
Mumbai Indians                 31437
Royal Challengers Bangalore    30023
Kolkata Knight Riders          29514
Chennai Super Kings            28651
Rajasthan Royals               26242
Kings XI Punjab                22646
Sunrisers Hyderabad            21843
Delhi Daredevils               18786
Delhi Capitals                 10946
Deccan Chargers                 9034
Punjab Kings                    6833
Gujarat Titans                  5494
Pune Warriors                   5443
Lucknow Super Giants            5400
Gujarat Lions                   3566
Rising Pune Supergiants         3480
Kochi Tuskers Kerala            1582
Name: count, dtype: int64

In [14]:
tdf = df[df['bowling_team'] == 'Royal Challengers Bengaluru']

In [15]:
df.loc[tdf.index, 'bowling_team'] = 'Royal Challengers Bangalore'

In [16]:
tdf = df[df['bowling_team'] == 'Rising Pune Supergiant']

In [17]:
df.loc[tdf.index, 'batting_team'] = 'Rising Pune Supergiants'

In [18]:
df.to_csv("D:\ipl-dashboard\data\deliveries_edited.csv")